{##
 # Template:    Logo
 # Description: Outputs the default markup for the logo.
 # Package:     Xavier
##}

{# If we have no logo element set, let's set one by default. #}
{% if not logo_element  %}
	{% if fn( 'is_front_page' ) or fn( 'is_home' ) %}
		{% set logo_element = 'h1' %}
	{% else %}
		{% set logo_element = 'p' %}
	{% endif %}
{% endif %}

{# Output the logo element with the site-title class #}
<{{ logo_element }} class="site-title">
	<a href="{{ site.url }}" rel="home">{{ site.name }}</a>
<{{ '/' ~ logo_element }}>
