{##
 # Template:    Navigation
 # Description: The default navigation element.
 # Package:     Xavier
##}

{% set items = menu_items( menu ) %}

{% if items %}
	<nav class="site-navigation">
		<ul class="site-menu">
			{% for parent in items %}
				<li class="item-parent{{ parent.classes }}">
					{% include 'commons/twig/navigation/item.twig' with { item : parent } %}

					{% if parent.children %}
						<ul class="site-submenu">
							{% for child in parent.children %}
								<li class="item-child{{ child.classes }}">
									{% include 'commons/twig/navigation/item.twig' with { item : child } %}
								</li>
							{% endfor %}
						</ul>
					{% endif %}

				</li>
			{% endfor %}
		</ul>
	</nav>
{% endif %}
